option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: BudgetTracker.wsgi:application

container_commands:
  01_install_requirements:
    command: "pip install -r requirements.txt"
    leader_only: true

  02_collectstatic:
    command: "python3 manage.py collectstatic --noinput"
    leader_only: true